.wrapper {
  background-color: #fcfcfc;
  border-radius: 15px;
  filter: drop-shadow(0px 0px 16px rgba(26, 38, 151, 0.15));
  padding: 2rem 1.6rem;
  height: 59rem;
}

.scroll {
  height: 50rem;
  overflow: scroll;
  padding-top: 1rem;
}

/* .scroll:hover {
  scrollbar-base-color: #eff1f5;
  overflow-y: scroll;
} */

.wrapper-header {
  margin-bottom: 1.8rem;
}

.wrapper-title {
  margin-bottom: 1rem;
}

.inputarea {
  display: flex;
  justify-content: space-between;
}

.search {
  padding: 0.3rem;
  background: #eff1f5;
  border: none;
  border-radius: 10px;
  width: 16rem;
}
.filter {
  background: #c5d6f9;
  border: none;
  padding: 0.375rem 2rem;
  border-radius: 20px;
}
