
.maincontainer {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start; 
    float: left;
   
}
h4 {
    float: left;
    text-justify: left;
    margin-left: 5rem;
}

.inputarea{
    display: flex;
    justify-content: flex-start;
    margin-left: 5rem;
    width:98%;
}

.search {
    padding: 0.3rem;
    background: #EFF1F5;
    border:none;
    border-radius: 10px;
    margin-right: 2rem;
    background: image("../assets/search.png");
}
.filter {
    background: #C5D6F9;
    border:none;
    border-radius: 20px;
}