*{
    color:#1E293B;
    padding: 0;
}

body {
    background:  #FCFCFC;
}
.outerbox{
    margin:0.5rem;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0px 0px 9px rgba(123, 192, 255, 0.4);
    border-radius: 12px;
}

input {
    position: static;
width: 16px;
height: 16px;
left: 0px;
top: 1.5px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px;
}

h3 {
    margin-left:1.5rem;
}

.headlight {
    text-align: left;
  
}

ul {
    padding-left: 1.5rem;
    list-style-type: none;  
    text-align: left;
}
.align-right {
    align-items:  left;
}

button{
    background: #C5D6F9;
    border: none;
    border-radius: 20px;
    padding: 0.5rem;
    margin: 10px 0px;
}
    