body {
  background-color: #eff1f5;
}

.flex-container {
  display: flex;
  gap: 2rem;
  padding: 0 2rem;
}

.cabecera-flex {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.cabecera-dashboard {
  display: flex;
  padding: 2rem 3rem;
  margin-top: 2.2rem;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

h2 {
  margin-left: 20px;
}

h2 img {
  margin-bottom: 1.3px;
}

input[type='submit'] {
  font-family: 'Roboto', sans-serif;
}

#data {
  margin-left: 180px;
  background: #c5d6f9;
  border: #c5d6f9;
  border-radius: 20px;
  padding: 8px 24px;
  cursor: pointer;
  height: 40px;
}

#create-inform {
  margin-left: 15px;
  background: #ffb321;
  border: #ffb321;
  border-radius: 20px;
  padding: 8px 24px;
  cursor: pointer;
  height: 40px;
}

.dashboard {
  display: flex;
}