*{
    color:#1E293B;
    margin:0;
}

body {
    background:  #FCFCFC;
}
input {
    position: absolute;
    left: 6.25%;
    right: 6.25%;
    top: 6.25%;
    bottom: 6.25%;
    background-color: #1E293B;
    
    /* Texto azul oscuro */
    background: #3D536B;
    
    /* Texto azul oscuro */
    border: 1px solid #3D536B;
    box-sizing: border-box;
    border-radius: 4px;
}



ul {
    padding-left: 1.5rem;
    list-style-type: none;  
    text-align: left;
}
.generar{
    background: #FFB321;
    position: center;
    width:15%;
    border: none;
    border-radius: 20px;
    padding: 0.5rem;
    margin: 10px 0px;
}
li {
    font-weight: bold;
    padding-top: 0.7rem;
}

.hovergrey {
    margin-left: 4rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}

.hovergrey:hover {
    background-color: #EFF1F5;
    width:fit-content;
    
    border-radius: 20px;
}

.outerbox{
    margin:0.5rem;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0px 0px 9px rgba(123, 192, 255, 0.4);
    border-radius: 12px;
}