body {
  background-color: #eff1f5;
}

.cabecera-informe {
  display: flex;
  margin-left: 330px;
  margin-top: 35px;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

h2 {
  margin-left: 20px;
}

h2 img {
  margin-bottom: 1.3px;
}

input[type='submit'] {
  font-family: 'Roboto', sans-serif;
}

#download {
  margin-left: 425px;
  background: #ffb321;
  border: #ffb321;
  border-radius: 20px;
  padding: 8px 24px;
  cursor: pointer;
  height: 40px;
}

.global {
  display: flex;
}
