.rep__container {
  background-color: #fcfcfc;
  border-radius: 14px;
  padding: 5rem;
  filter: drop-shadow(0px 0px 16px rgba(26, 38, 151, 0.15));
  height: 59rem;
  /* width: 42rem; */
  overflow: scroll;
}

.rep__title {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.rep__subtitle {
  margin-bottom: 2rem;
}

.rep__text {
  margin-bottom: 3rem;
}

.rep__text2 {
  margin: 4rem 0 3rem;
}

.cardtwit__container {
  margin-bottom: 2rem;
}
